cfs entry for: _0.fld
doc 0
  field 0
    name titolo
    type string
    value american Pie
doc 1
  field 0
    name titolo
    type string
    value ANT
doc 2
  field 0
    name titolo
    type string
    value big data
doc 3
  field 0
    name titolo
    type string
    value CAP Theorem
doc 4
  field 0
    name titolo
    type string
    value Computer Vision
doc 5
  field 0
    name titolo
    type string
    value congratulations
doc 6
  field 0
    name titolo
    type string
    value Convolutional Neural Networks
doc 7
  field 0
    name titolo
    type string
    value economics
doc 8
  field 0
    name titolo
    type string
    value highway to hell
doc 9
  field 0
    name titolo
    type string
    value How i met your mother
doc 10
  field 0
    name titolo
    type string
    value How To Become A Data Engineer
doc 11
  field 0
    name titolo
    type string
    value How To Become A Data Scientist
doc 12
  field 0
    name titolo
    type string
    value How To Behave In The Office
doc 13
  field 0
    name titolo
    type string
    value Inflation
doc 14
  field 0
    name titolo
    type string
    value Information Retrival
doc 15
  field 0
    name titolo
    type string
    value Infrared Vision
doc 16
  field 0
    name titolo
    type string
    value jhonnyBGood
doc 17
  field 0
    name titolo
    type string
    value Naive Bayes classifier
doc 18
  field 0
    name titolo
    type string
    value otsu
doc 19
  field 0
    name titolo
    type string
    value SVM
doc 20
  field 0
    name titolo
    type string
    value The Office
doc 21
  field 0
    name titolo
    type string
    value What Is A Data Engineer
END
checksum 00000000002891606521
cfs entry for: _0.inf
number of fields 1
  name titolo
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000001023459669
cfs entry for: _0.pst
field titolo
  term ANT
    doc 1
  term CAP Theorem
    doc 3
  term Computer Vision
    doc 4
  term Convolutional Neural Networks
    doc 6
  term How To Become A Data Engineer
    doc 10
  term How To Become A Data Scientist
    doc 11
  term How To Behave In The Office
    doc 12
  term How i met your mother
    doc 9
  term Inflation
    doc 13
  term Information Retrival
    doc 14
  term Infrared Vision
    doc 15
  term Naive Bayes classifier
    doc 17
  term SVM
    doc 19
  term The Office
    doc 20
  term What Is A Data Engineer
    doc 21
  term american Pie
    doc 0
  term big data
    doc 2
  term congratulations
    doc 5
  term economics
    doc 7
  term highway to hell
    doc 8
  term jhonnyBGood
    doc 16
  term otsu
    doc 18
END
checksum 00000000002088637005
table of contents, size: 3
  filename: _0.fld
    start: 22
    end: 1707
  filename: _0.inf
    start: 1729
    end: 2119
  filename: _0.pst
    start: 2141
    end: 2937
table of contents begins at offset: 0000000000000002937
